
<div class='UserDashboard maxwidth'>
  <h1 class='center text-center'>Dashboard</h1>

  <ul>
    <li><a href='/user/dashboard2'>/user/dashboard2</a></li>
  </ul>

{# {{ drupal_form('Drupal\\search\\Form\\SearchBlockForm') }} #}

{# {{ drupal_form('Drupal\\user\\Form\\UserLoginForm') }} #}

</div>
